.venv/

venv/

.env
.env.prod
redis.conf

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

.idea
*.pem


logs

postman.json

/.dockerignore

cert.pem
cert.pfx
key.pem

src/lms/static/
!src/lms/static/defaults/*

src/lms/app/scripts/hash_password.py